<div class="box">
<div class="row">
    <div class="col">
      <h3 class="display-5">All the registered users</h3>
            
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">User's Name</th>
            <!--<th scope="col">User's Last name</th>-->
            <th scope="col">Admin Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th>{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td *ngIf="user.role=='ROLE_ADMIN'; else elseBlock"> <button (click)="removeAdmin(user.username)" mat-flat-button type="submit" color="warn" [disabled]=currentUser(user.username)>REMOVE</button> </td> 
            <ng-template #elseBlock><td><button (click)="addAdmin(user.username)" mat-flat-button type="submit" color="primary" [disabled]=currentUser(user.username)>ADD</button></td></ng-template>
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
